<div>
    <div *ngIf="response.slug === undefined"> 
        <span> login </span>
        <input type="text" (keyup)="onKey($event)" />
        <button (click)="login()">login</button>
    </div>
</div>
<div *ngIf="isDeckValid">
    <h4>Deck is valid</h4>
</div>


    <div *ngIf="!userInfo  && loginAttempt && isDeckValid">
        Create Account
        <input type='text' mask="(000) 000-000"  (keyup)="setPhone($event)" />
        <button (click)="signUp()">Sign Up</button>
    </div>

<div *ngIf="!isDeckValid && loginAttempt">
    <h4>Deck is not valid</h4>
</div>

<div *ngIf="response.slug !== undefined && isDeckValid">
    <!-- <div *ngFor="let card of cardList;" >
        <div>{{card.name}}</div>   
    </div> -->
    <app-card-select  [cardLimiters] = 'limiters' (quit)="quit($event)" (selectedCard)="cardSelected($event)"></app-card-select>
</div>
